@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Regular.woff') format('woff'),
	url('../fonts/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PragmaticaLightC-Bold';
	src: url('../fonts/PragmaticaLightC-Bold.eot');
	src: url('../fonts/PragmaticaLightC-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PragmaticaLightC-Bold.woff') format('woff'),
			url('../fonts/PragmaticaLightC-Bold.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'PragmaticaLightC-Reg';
	src: url('../fonts/PragmaticaLightC.eot');
	src: url('../fonts/PragmaticaLightC.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PragmaticaLightC.woff') format('woff'),
			url('../fonts/PragmaticaLightC.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Pragmatica-Cyrillic';
	src: url('../fonts/PragmaticaCyrillic.eot');
	src: url('../fonts/PragmaticaCyrillic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PragmaticaCyrillic.woff') format('woff'),
			url('../fonts/PragmaticaCyrillic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}